body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #7face7,#c3cee2, #d5d1ce);
}
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-form {
  text-align: center;
  width: 400px; 
}

.signin-form h2 {
  font-size: 36px; 
  font-family: Helvetica, sans-serif; 
  color: #da4d16;
  margin-bottom: 20px;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f6e5dd; 
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.signin-form button {
  width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #4476ac ;
  /*#6f7eee; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signin-form button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.signup-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.signup-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #d5d1ce, #eebe9a, #e79879);
  color: rgb(164, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  
 
}

.signup-circle:hover {
  transform: scale(1.1);
}
